<div class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <nav>
    <ul>
      <li><a routerLink="/manage-rooms">Manage Rooms</a></li>
      <li><a routerLink="/manage-bookings">Manage Bookings</a></li>
      <li><a routerLink="/feedback">Customer Feedback</a></li>
      
    </ul>
  </nav>

  
  <button class="logout-btn" (click)="logout()">Logout</button>
 

</div>

 
 <div class="welcome-section">
  <h3>Welcome, Admin!</h3>
  <p>Manage your hotel efficiently and keep track of bookings, rooms, and customer feedback.</p>
</div>

<div class="image-gallery">
  <img src="../../../assets/hotel.jpeg" >
  <img src="../../../assets/deluxe room.webp" >
  <img src= "../../../assets/suite room.jpeg" >
  
</div>



